<template>
  <v-container fill-height pa-5>
    <v-layout
      wrap
      mt-10
      class="page-content"
    >
      <v-flex xs12>
        <v-card class="pa-8">
          <h1>Add Profile</h1>

          <v-alert v-if="errors.length > 0" type="error" class="mt-10"
                   prominent border="left"
          >
            <div v-for="(error, idx) in errors" :key="idx">
              <div class="title capitalize">{{ error[0].replace('_', ' ') }}</div>
              <p v-for="(msg, msgIdx) in error[1]" :key="msgIdx" class="capitalize">
                {{ msg }}
              </p>
            </div>
          </v-alert>

          <v-form v-model="valid" class="mt-10" ref="form">
            <v-text-field
              v-model="profileName"
              label="Name"
              prepend-icon="person"
              clearable
              :rules="[v => !!v || 'Name is required!']"
            ></v-text-field>

            <v-text-field
              v-model="twitterAddress"
              label="Twitter Address"
              prepend-icon="insert_link"
              clearable
              :rules="twitterAddressRules"
              class="mt-2"
            ></v-text-field>

            <div class="d-flex justify-center mt-10">
              <v-btn @click="submit()"
                     color="primary"
                     :loading="loading"
              >
                <v-icon left>add</v-icon>
                Create profile
              </v-btn>
            </div>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import { APIFactory } from '../api/APIFactory';
import twitterValidation from '../mixins/twitterValidation';
import goToMixin from '../mixins/goTo';

const ProfilesAPI = APIFactory.get('profiles');

export default {
  name: 'AddProfile',
  mixins: [twitterValidation, goToMixin],
  data: () => ({
    valid: false,
    errors: [],
    loading: false,
    profileName: '',
    twitterAddress: '',
  }),
  methods: {
    async submit() {
      this.loading = true;
      if (this.$refs.form.validate()) {
        await ProfilesAPI
          .createProfile(this.profileName, this.twitterAddress)
          .then((result) => {
            this.goTo('profile', { id: result.data.id });
          })
          .catch((error) => {
            console.log(Object.entries(error.response.data));
            this.errors = Object.entries(error.response.data);
          });
      }

      this.loading = false;
    },
  },
};
</script>

<style>
.page-content {
  max-width: 1000px;
  margin: 0 auto;
}

.capitalize::first-letter {
  text-transform: capitalize;
}
</style>
