<template>
  <v-container fill-height>
    <v-layout
      text-center
      wrap
      mt-10
    >
      <v-flex xs12 class="d-flex align-center">
        <v-img
          :src="require('../assets/fretadao.png')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex>
        <div class="search-box">
          <v-text-field label="Seach for profiles here..."
                        v-model="searchTerm"
                        append-icon="search"
                        @keyup.enter.native="searchForProfile"
                        @click:append="searchForProfile"
                        :loading="loading"
                        solo
                        clearable
          >
          </v-text-field>
        </div>
        <v-btn color="primary" @click="searchForProfile">
          <v-icon left>search</v-icon>
          Search
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
export default {
  data: () => ({
    loading: false,
    searchTerm: '',
  }),
  methods: {
    searchForProfile() {
      this.loading = true;
      this.$router.push({ name: 'search-results', params: { query: this.searchTerm } });
    },
  },
};
</script>

<style>
.search-box {
  max-width: 900px;
  margin: 0 auto;
}
</style>
