<template>
  <v-container fill-height pa-5>
    <v-layout
      wrap
      mt-10
      class="page-content"
    >
      <v-flex xs12>
        <v-card class="pa-8">
          <h1>{{ name }}</h1>
          <ErrorList :errors="errors"></ErrorList>

          <v-form v-model="valid" class="mt-10" ref="form">
            <v-text-field
              :readonly="!editing"
              v-model="profile.name"
              label="Name"
              prepend-icon="person"
              :clearable="editing"
              :rules="[v => !!v || 'Name is required!']"
            ></v-text-field>

            <v-text-field
              :readonly="!editing"
              v-model="profile.twitterAddress"
              label="Twitter Address"
              prepend-icon="insert_link"
              :clearable="editing"
              :rules="twitterAddressRules"
              class="mt-2"
            ></v-text-field>

            <div v-show="!editing">
              <v-text-field
                readonly
                v-model="profile.shortURL"
                label="Short URL"
                single-line
                prepend-icon="public"
                class="mt-2"
              ></v-text-field>

              <v-text-field
                readonly
                v-model="profile.twitterUsername"
                label="Twitter Username"
                single-line
                prepend-icon="@"
                class="mt-2"
              ></v-text-field>

              <v-textarea
                readonly
                filled
                single-line
                no-resize
                v-model="profile.twitterDescription"
                label="Twitter Description"
                prepend-icon="short_text"
                class="mt-2"
              ></v-textarea>
            </div>

            <div class="d-flex justify-center mt-10">
              <div v-if="editing">
                <v-btn @click="submit()"
                      color="primary"
                      class="mt-2"
                      :loading="loading"
                >
                  <v-icon left>done</v-icon>
                  Done
                </v-btn>
                <v-btn @click="editing = false" class="ml-5 mt-2">
                  <v-icon left>cancel</v-icon>
                  cancel
                </v-btn>
                <v-btn @click="deleteProfile()"
                      color="error"
                      class="ml-5 mt-2"
                      :loading="loading"
                >
                  <v-icon left>delete</v-icon>
                  delete profile
                </v-btn>
              </div>
              <div v-else>
                <v-btn @click="editing = true"

                      color="primary"
                      :loading="loading"
                >
                  <v-icon left>edit</v-icon>
                  edit
                </v-btn>
              </div>
            </div>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import { APIFactory } from '../api/APIFactory';
import ErrorList from '../components/ErrorList';
import twitterValidation from '../mixins/twitterValidation';

const ProfilesAPI = APIFactory.get('profiles');

export default {
  name: 'AddProfile',
  mixins: [twitterValidation],
  components: {
    ErrorList,
  },
  data: () => ({
    valid: false,
    errors: [],
    editing: false,
    name: '',
    loading: false,
    profile: {
      id: '',
      name: '',
      twitterAddress: '',
      twitterUsername: '',
      shortURL: '',
      twitterDescription: '',
    },
  }),
  methods: {
    async submit() {
      this.loading = true;
      if (this.$refs.form.validate()) {
        await ProfilesAPI
          .editProfile(this.profile.id, this.profile.name, this.profile.twitterAddress)
          .then((result) => {
            this.setProfile(result.data);
            this.editing = false;
            this.errors = [];
          })
          .catch((error) => {
            console.log(Object.entries(error.response.data));
            this.errors = Object.entries(error.response.data);
          });
      }

      this.loading = false;
    },
    async getProfile(profileId) {
      this.loading = true;
      await ProfilesAPI.getProfile(profileId)
        .then((result) => {
          this.setProfile(result.data);
        })
        .catch((err) => {
          console.log(err);
        });

      this.loading = false;
    },
    async deleteProfile() {
      /* eslint-disable no-alert, no-restricted-globals */
      if (confirm('Are you sure?')) {
        this.loading = true;
        await ProfilesAPI.deleteProfile(this.profile.id)
          .then(() => {
            this.$router.go(-1);
          })
          .catch((err) => {
            console.log(err);
          });

        this.loading = false;
      }
    },
    setProfile(response) {
      this.profile.id = response.id;
      this.profile.name = response.name;
      this.name = response.name;
      this.profile.twitterAddress = response.twitter_address;
      this.profile.shortURL = response.shortened_url;
      this.profile.twitterUsername = response.twitter_username;
      this.profile.twitterDescription = response.twitter_description;
    },
  },
  mounted() {
    this.profile.id = this.$route.params.id;
    this.editing = this.$route.params.editing || false;
    this.getProfile(this.profile.id);
  },
};
</script>

<style>
.page-content {
  max-width: 1000px;
  margin: 0 auto;
}

.capitalize::first-letter {
  text-transform: capitalize;
}
</style>
