<template>
  <v-container fill-height pa-5>
    <v-layout
      wrap
      mt-10
      class="page-content"
    >

      <v-flex xs12>
        <h1>Search Results</h1>
        <h2 v-if="!loading" class="headline">{{ profiles.length }} result(s) found!</h2>
        <v-text-field v-else color="primary" :loading="loading"></v-text-field>


        <v-card v-for="profile in profiles" :key="profile.twitter_address"
                class="mt-5"
        >
          <v-list two-line>
            <v-list-item>
              <v-list-item-avatar>
                <img :src="profile.avatar" aspect-ratio="1">

              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>
                  {{ profile.name }}
                </v-list-item-title>
                <v-list-item-subtitle>
                  {{ profile.shortened_url }}
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action class="flex-row  align-center">
                <v-btn icon @click="goTo('profile', { id: profile.id, editing: false })">
                  <v-icon color="grey lighten-1">visibility</v-icon>
                </v-btn>
                <v-btn icon @click="goTo('profile', { id: profile.id, editing: true })">
                  <v-icon color="grey lighten-1">edit</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import axios from 'axios';
import { APIFactory } from '../api/APIFactory';
import goToMixin from '../mixins/goTo';

const ProfilesAPI = APIFactory.get('profiles');

export default {
  name: 'SearchResults',
  mixins: [goToMixin],
  data: () => ({
    loading: false,
    searchTerm: '',
    profiles: [],
  }),
  methods: {
    getAvatar(profile) {
      return axios
        .get('https://randomuser.me/api/?gender=male')
        .then((response) => {
          this.$set(profile, 'avatar', response.data.results[0].picture.thumbnail);
        })
        .catch(() => {
          this.$set(profile, 'avatar', require('../assets/user.png'));
          return '';
        });
    },
    async searchForProfile(searchTerm) {
      this.loading = true;
      await ProfilesAPI.search(searchTerm)
        .then((result) => {
          this.profiles = result.data;
        })
        .catch((err) => {
          console.log(err);
        });

      this.loading = false;
      this.profiles.map(profile => this.getAvatar(profile));
    },
  },
  created() {
    this.searchTerm = this.$route.params.query;
    this.searchForProfile(this.searchTerm);
  },
};
</script>

<style>
.page-content {
  max-width: 1000px;
  margin: 0 auto;
}
</style>
