<template>
  <v-alert v-if="errors.length > 0" type="error" class="mt-10"
            prominent border="left"
  >
    <div v-for="(error, idx) in errors" :key="idx">
      <div class="title capitalize">{{ error[0].replace('_', ' ') }}</div>
      <p v-for="(msg, msgIdx) in error[1]" :key="msgIdx" class="capitalize">
        {{ msg }}
      </p>
    </div>
  </v-alert>
</template>

<script>
export default {
  name: 'ErrorList',
  props: ['errors'],
  data: () => ({
    //
  }),
};
</script>
