<template>
  <v-app>
    <v-app-bar app dark color="primary">
      <v-btn icon @click="goBack()">
        <v-icon>chevron_left</v-icon>
      </v-btn>
      <v-toolbar-title class="nav-title title text-uppercase" @click="goTo('home')">
        Fretadão Indexer
      </v-toolbar-title>
      <v-btn text @click="goTo('add-profile')">
        <v-icon left>add</v-icon>
        Add Profile
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import goToMixin from './mixins/goTo';

export default {
  name: 'App',
  mixins: [goToMixin],
  data: () => ({
    //
  }),
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style>
.nav-title {
  margin: 0 auto;
  cursor: pointer;
}
</style>
